{% extends "base.html" %}
{% load i18n %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% load wagtail_modeltranslation %}

{% get_settings use_default_site=True %}

{% block content %}
  {% include "_includes/navbar.html" with transparent=True inverted=True %}
  
  <article>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8-tablet">
            <h2 class="h2 mt-3">
              {{ page.title }}  
            </h2>
            {{ page.body }}
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock content %}

{% block open_graph %}
  {% include '_includes/og_article.html' with page=page settings=settings %}
{% endblock %}

{% block ld_json %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ page.get_site.root_url }}{% slugurl_trans 'homepage' %}",
        "name": "{% trans 'Home' %}"
    }
    }, {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ page.get_site.root_url }}{% slugurl_trans 'services' %}",
        "name": "{% trans 'Services' %}"
      }
    }, {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "{{ page.get_site.root_url }}{{ page.get_parent.url }}",
        "name": "{{ page.get_parent.title }}"
      }
    }, {
      "@type": "ListItem",
      "position": 4,
      "item": {
        "@id": "{{ page.get_site.root_url }}{{ page.url }}",
        "name": "{{ page.title }}"
      }
    }]
  }
</script>
<script type="application/ld+json">
  {% include '_includes/ld_article.html' with page=page settings=settings %}
</script>
{% endblock %}
