{% load static wagtailuserbar %}

<section class="section {{service.id}} render-service">
  <div class="spacer is-large"></div>
  <div class="container">
    <div class="columns has-gap">
      <div class="column is-12">
        {% for subservice in subservices %}
          <div class="columns">
            <div class="column is-12">
              <h3 class="h3"><i class="fas fa-chevron-right"></i>  {{subservice.title}}</h3>
              <p>{{subservice.description}}</p>
            </div>
          </div>
          <div class="spacer"></div>
        {% endfor %}
        {% if current_language == 'nl' %}
          <div class="buttons"><a href="{{service.url}}" class="button is-next is-secondary">(NL) See more <i class="fas fa-chevron-right"></i></a></div>
        {% elif current_language == 'en' %}
          <div class="buttons"><a href="{{service.url}}" class="button is-next is-secondary">See more <i class="fas fa-chevron-right"></i></a></div>
        {% endif %}
      </div>
    </div>
  </div>
</section>