{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load static wagtailuserbar %}


{% load static %}
{% block content %}
  {% with mediaPath="/media/" %}
  

      {# Main navigation #}
      {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}
      <div class="spacer is-large"></div>
      <div class="spacer"></div>
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-8">
              {% if page.hero_title %}
                <h1 class="h1">{{page.hero_title}}</h1>
              {% endif %}
              {% if page.introduction %}
                <p class="intro">
                  {{page.introduction}}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </section>

      {% if subservices %}
        {% for service in subservices %}
        <section class="section">
          <div class="container">
            <article class="article">
              <header>
                <h2 class="h2">{{service.hero_title}}</h2>
              </header>
            </article>
            <div class="column is-8">
              {% if service.description %}
                <p class="intro">
                  {{service.description}}
                </p>
              {% endif %}
              {% if service.body %}
                {{ service.body }}
              {% endif %}
            </div>
          </div>
        </section>
        {% endfor %}
      {% endif %}

      {% if projects %}
        <section class="section">
          <div class="container">
            <article class="article">
              <header>
                {% if current_language == 'nl' %}
                  <h2 class="h2">(NL) Related projects</h2>
                {% elif current_language == 'en' %}
                  <h2 class="h2">Related projects</h2>
                {% endif %}
              </header>
              <div class="columns is-grid">
                {% include "modules/grid_8.html" with elements=projects is_loadable=False %}
              </div>
            </article>
          </div>
        </section>
      {% endif %}
      {% if articles %}
        <section class="section">
          <div class="container">
            <article class="article">
              <header>
                {% if current_language == 'nl' %}
                  <h2 class="h2">(NL) Related articles</h2>
                {% elif current_language == 'en' %}
                  <h2 class="h2">Related articles</h2>
                {% endif %}
              </header>
              <div class="columns is-grid">
                {% include "modules/grid_8.html" with elements=articles is_loadable=False %}
              </div>
            </article>
          </div>
        </section>
      {% endif %}
  {% endwith %}
{% endblock content %}