{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load static wagtailuserbar %}

{% with mediaPath="/media/" %}
  {% for element in elements %}
    
      {% if is_loadable %}
        <div class="column is-3 in-grid is-loadable" data-title="{{element.hero_title}}" data-service="{{element.service}}">
      {% else %}
        <div class="column is-3 in-grid">
      {% endif %}
        <a href="{{element.url}}">
          {% if element.top_images.all %}
            {% image element.top_images.all.0.image fill-600x600 as project_image %}
          {% else %}
            {% image "http://media.except.nl/media/"|add:element.hero_old_image fill-600x600 as project_image %}
          {% endif %}
          {% image element.top_images.all.0.image fill-600x400 as project_image%}
          <figure class="image"><img src="{{ project_image.url }}" style="background-size:cover;"><div class="hover-description asset"><p>{{element.hero_subtitle}}</p><p class="date">{{element.date_published|date:"M Y"}}</p></div></figure>
          <h4 class="h4 has-text-centered"><span>{{element.hero_title}}</span></h4>
        </a>
      </div>
  {% endfor %}
{% endwith %}