{% with mediaPath="/media/original_images/" %}
  {% for element in elements %}
    {% if is_loadable %}
      <div class="column is-3 in-grid is-loadable">
    {% else %}
      <div class="column is-3 in-grid">
    {% endif %}
        <div class="card is-stretched">
          <div class="card-image">
            <a href={{element.element.url}}>
              {% if element.top_images.all %}
                <figure class="image"><img src="{{ mediaPath }}{{ element.element.top_images.all.0.image }}"></figure>
              {% else %}
                <figure class="image"><img src="http://media.except.nl/media/{{ element.element.hero_old_image }}"></figure>
              {% endif %}
            </a>
          </div>
          <div class="card-content">
            <a href={{element.element.url}}>
              <h4 class="h4">{{element.element.hero_title}}</h4>
            </a>
            <p>{{element.element.hero_subtitle}}</p>
            <p>{{element.element.date_published|date:"M d, Y"}}</p>
            <div class="button is-selector is-{{element.element.service.color}} is-pulled-left"></div>
          </div>
          <div class="card-footer">
            <div class="button is-selector is-{{element.element.service.color}} is-pulled-left"></div><a class="button is-pulled-right" href={{element.element.url}}><i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
    </div>
  {% endfor %}
{% endwith %}