{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load static wagtailuserbar %}


{% load static %}

{% with mediaPath="/media/original_images/" %}
  {% for element in elements %}
    <div class="column is-4 in-grid">
      <div class="card is-stretched">
        <div class="card-content has-label no-image">
          {% if element.url_article %}
            <a href="{{element.url_article}}">
          {% else %}
            <a href="{{element.url}}">
          {% endif %}
            {% if element.is_long_intro %}
              <h3 class="h3">{{element.short_intro}}...</h3>
            {% else %}
              <h3 class="h3">{{element.hero_title}}</h3>
            {% endif %}
            <p>{{element.hero_subtitle}}</p>
            <p>{{element.date_published|date:"M d, Y"}}</p>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endwith %}