
<nav class="is-fixed-top is-transparent inverted" id="mainNav">
  <div class="container">

    {% include "./logo.html" %}

    <div class="buttons is-pulled-right is-stretched">
      <button class="button is-transparent"><span>ENGLISH</span><i class="fas fa-chevron-down"></i></button><a class="button is-transparent">CONTACT</a>
    </div>
  </div>
</nav>
<nav class="navbar navbar-menu is-sticky" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-menu">
      <!-- Left menu-->
      <div class="navbar-start">
        <!-- Navigation items-->
        <a class="navbar-item" href="./"><span>Home</span></a>
        <div class="navbar-item">
          <input class="for-dropdown is-hidden" type="checkbox" id="About"/>
          <label for="About">About</label><i class="fas fa-chevron-down"></i>
          <div class="dropdown">
            <ul>
              <li><a href="/"><span>OUR PROFILE</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a href="/"><span>SYSTEM THINKING FRAMEWORK</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a href="/"><span>HISTORY</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a href="/"><span>OUR TEAM</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a href="/"><span>NEWS</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a href="/"><span>WORKING WITH US</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a href="/"><span>ENVIRONMENTAL POLICY</span><i class="fas fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-item">
          <input class="for-dropdown is-hidden" type="checkbox" id="Services"/>
          <label for="Services">Services</label><i class="fas fa-chevron-down"></i>
          <div class="dropdown">
            <ul>
              <li><a><span>Services Overview</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a><span>Places, cities &amp; buildings</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a><span>Companies &amp; organizations</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a><span>Industry &amp; Sectors</span><i class="fas fa-chevron-right"></i></a></li>
              <li><a><span>Training</span><i class="fas fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div><a class="navbar-item" href="./projects"><span>Projects</span></a><a class="navbar-item" href="./knowledge"><span>Knowledge</span></a>
      </div>
      <!-- Right menu-->
      <div class="navbar-end">
        <!-- Search bar-->
        <div class="navbar-item">
          <input class="input" type="text" placeholder="Search site"/><i class="fas fa-search"></i>
        </div>
      </div>
    </div>
    <!-- Dark website overlay      -->
    <label class="overlay" for="headerNavToggle"></label>
  </div>
</nav>