{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load static wagtailuserbar %}


{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}

    {# Top Section/Header #}
    {% include "modules/top_section.html" with page=page carousel=False compact=False %}

    {# Main navigation #}
    {% include "includes/navbar.html" with inverted=page.navbar_inverted transparent=page.navbar_transparent%}
    <a class="anchor" id="first_anchor"></a>
    <div class="spacer"></div>
    <section class="section is-fullheight">
      <div class="container">
        <article class="article">
          <header>
            {% if page.introduction_title %}
              <h2 class="h2">{{page.introduction_title}}</h2>
            {% endif %}
          </header>
          {% if page.introduction_image %}
            <img src="{{ mediaPath }}{{ page.introduction_image }}">
          {% endif %}
          {% if page.introduction_text %}
            <p class="intro">{{page.introduction_text}}</p>
          {% endif %}
          <div class="buttons">
            {% if page.introduction_link %}
              {% if current_language == 'nl' %}
                <div class="container"><a href='{{page.introduction_link.url}}' class="button is-next is-secondary">(NL) More about us</a></div>
              {% elif current_language == 'en' %}
                <div class="container"><a href='{{page.introduction_link.url}}' class="button is-next is-secondary">More about us</a></div>
              {% endif %}
            {% endif %}
          </div>
        </article>
      </div>
    </section>

    <a class="anchor" id="carousel-section"></a>
    {# Carousel #}
    {% if page.carousel_images %}
      <section class="section is-fullheight has-cover">
        <div class="container">
          <article class="article">
            {% if page.carousel_title %}
              <header>
                <h2 class="h2">{{page.carousel_title}}</h2>
              </header>
            {% endif %}
            {% if page.carousel_description %}
              <div class="caption">
                <h3 class="h3">{{page.carousel_description}}</h3>
                <div class="buttons">
                  {% for link_button in page.carousel_links.all %}
                    <a href='{{link_button.link.url}}' class="button is-next is-secondary">{{link_button.link_description}} <i class="fas fa-chevron-right"></i></a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </article>
        </div>

        <div class="carousel is-fullheight cover" data-count="{{page.carousel_images.all|length}}">

          <div class="carousel-inner">
            {% for carousel_image in page.carousel_images.all %}

              {% image carousel_image.image width-1000 as carouselimagedata %}
              <article style="background-image: url({{ carouselimagedata.url }})" class="background-{{carousel_image.scaling}}">
              </article>
            {% endfor %}
          </div>

          <div class="button is-secondary button-prev">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div class="button is-secondary button-next">
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </section>
    {% endif %}

    {# Working areas #}
    
    <a class="anchor" id="services-section"></a>
    <section class="section is-fullheight">
      <div class="spacer is-large"></div>
      <div class="spacer is-large"></div>
      <div class="container">
        <article class="article">
          <header>
            {% if current_language == 'nl' %}
              <h2 class="h2">(NL) Our working areas</h2>
            {% elif current_language == 'en' %}
              <h2 class="h2">Our working areas</h2>
            {% endif %}
          </header>
          <div class="columns has-gap">
            {% for service in services %}
              <div class="column has-text-centered">
                <figure class="image"><img src="{{ mediaPath }}{{ service.image }}"></figure>
                <h3 class="h3">{{service.hero_title}}</h3>
              </div>
            {% endfor %}
          </div>
          <div class="buttons">
            {% if current_language == 'nl' %}
              <div class="container"><a href='{{indexService.url}}' class="button is-next is-secondary">(NL) View our services</a></div>
            {% elif current_language == 'en' %}
              <div class="container"><a href='{{indexService.url}}' class="button is-next is-secondary">View our services</a></div>
            {% endif %}
          </div>
        </article>
      </div>
    </section>

    <a class="anchor" id="highlight-section"></a>
    <section class="section">
      <div class="container">
        <article class="article">
          <header>
            {% if current_language == 'nl' %}
              <h2 class="h2">(NL) Latest news</h2>
            {% elif current_language == 'en' %}
              <h2 class="h2">Latest news</h2>
            {% endif %}
          </header>
          <div class="columns">
            <div class="column is-8 is-front">
              <div class="card is-stretched">
                <div class="card-image">
                  <figure class="image"><img src="{{ mediaPath }}{{ highlight_pdf.top_images.all.0.image }}"></figure>
                </div>
                <div class="card-footer is-front"><a href="{{ highlight_pdf.url }}" class="link"><span>{{highlight_pdf.hero_title}}</span><i class="fas fa-chevron-right"></i></a></div>
              </div>
            </div>
            <div class="column is-4">
              <div class="card is-stretched">
                <div class="card-image is-front">
                  <figure class="image"><img src="{{ mediaPath }}{{ highlight_event.top_images.all.0.image }}">
                    {% if current_language == 'nl' %}
                      <h4 class="h4 label is-red">(NL) Event</h4>
                    {% elif current_language == 'en' %}
                      <h4 class="h4 label is-red">Event</h4>
                    {% endif %}
                  </figure>
                </div>
                <div class="card-content is-front">
                  <h3 class="h3">{{ highlight_event.hero_title }}</h3>
                  <p class='trunc-text'>{{ highlight_event.hero_subtitle }}</p>
                </div>
                {% if current_language == 'nl' %}
                  <div class="card-footer is-front"><a href="{{ highlight_event.url }}" class="link"><span>(NL) Register now</span><i class="fas fa-chevron-right"></i></a></div>
                {% elif current_language == 'en' %}
                  <div class="card-footer is-front"><a href="{{ highlight_event.url }}" class="link"><span>Register now</span><i class="fas fa-chevron-right"></i></a></div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-4">
              <div class="card is-stretched">
                <div class="card is-stretched">
                  <div class="card-image is-front">
                    <figure class="image"><img src="{{ mediaPath }}{{ highlight_article.top_images.all.0.image }}">
                      {% if current_language == 'nl' %}
                        <h4 class="h4 label is-purple">(NL) News</h4>
                      {% elif current_language == 'en' %}
                        <h4 class="h4 label is-purple">News</h4>
                      {% endif %}
                    </figure>
                  </div>
                  <div class="card-content is-front">
                    <h3 class="h3">{{ highlight_article.hero_title }}</h3>
                    <p class='trunc-text'>{{ highlight_event.hero_subtitle }}</p>
                    <p class='date'>{{ highlight_article.date_published }}</p><a href="{{ highlight_article.url }}" class="button is-pulled-right"><i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
                {% if current_language == 'nl' %}
                  <div class="card-footer is-front"><a href="{{ news_index.url }}" class="link"><span>(NL) Read our news</span><i class="fas fa-chevron-right"></i></a></div>
                {% elif current_language == 'en' %}
                  <div class="card-footer is-front"><a href="{{ news_index.url }}" class="link"><span>Read our news</span><i class="fas fa-chevron-right"></i></a></div>
                {% endif %}
              </div>
            </div>
            <div class="column is-4">
              <div class="card is-stretched">
                <div class="card is-stretched">
                  <div class="card-image is-front">
                    <figure class="image"><img src="{{ mediaPath }}{{ highlight_projects.top_images.all.0.image }}">
                      {% if current_language == 'nl' %}
                        <h4 class="h4 label is-blue">(NL) Project</h4>
                      {% elif current_language == 'en' %}
                        <h4 class="h4 label is-blue">Project</h4>
                      {% endif %}
                    </figure>
                  </div>
                  <div class="card-content is-front">
                    <h3 class="h3">{{ highlight_projects.hero_title }}</h3>
                    <p class='trunc-text'>{{ highlight_event.hero_subtitle }}</p>
                    <p class='date'>{{ highlight_projects.date_published }}</p><a href="{{ highlight_projects.url }}" class="button is-pulled-right"><i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
                {% if current_language == 'nl' %}
                  <div class="card-footer is-front"><a href="{{ projects_index.url }}" class="link"><span>(NL) See more projects</span><i class="fas fa-chevron-right"></i></a></div>
                {% elif current_language == 'en' %}
                  <div class="card-footer is-front"><a href="{{ projects_index.url }}" class="link"><span>See more projects</span><i class="fas fa-chevron-right"></i></a></div>
                {% endif %}
              </div>
            </div>
            <div class="column is-4">
              <div class="card is-stretched">
                <div class="card is-stretched">
                  <div class="card-image is-front">
                    <figure class="image"><img src="{{ mediaPath }}{{ highlight_resources.top_images.all.0.image }}">
                      {% if current_language == 'nl' %}
                        <h4 class="h4 label is-green">(NL) Knowledge</h4>
                      {% elif current_language == 'en' %}
                        <h4 class="h4 label is-green">Knowledge</h4>
                      {% endif %}
                    </figure>
                  </div>
                  <div class="card-content is-front">
                    <h3 class="h3">{{ highlight_resources.hero_title }}</h3>
                    <p class='date'>{{ highlight_resources.date_published }}</p><a href="{{ highlight_resources.file.url }}" class="button is-pulled-right"><i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
                {% if current_language == 'nl' %}
                  <div class="card-footer is-front"><a href="{{ knowledge.url }}" class="link"><span>(NL) See more resources</span><i class="fas fa-chevron-right"></i></a></div>
                {% elif current_language == 'en' %}
                  <div class="card-footer is-front"><a href="{{ knowledge.url }}" class="link"><span>See more resources</span><i class="fas fa-chevron-right"></i></a></div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-4">
              <div class="card is-stretched">
                <div class="card is-stretched">
                  <div class="card-image is-front">
                    <figure class="image"><img src="{{ mediaPath }}{{ highlight_open_position.top_images.all.0.image }}">
                      {% if current_language == 'nl' %}
                        <h4 class="h4 label is-red">(NL) People</h4>
                      {% elif current_language == 'en' %}
                        <h4 class="h4 label is-red">People</h4>
                      {% endif %}
                    </figure>
                  </div>
                  <div class="card-content is-front">
                    <h3 class="h3">{{ highlight_open_position.hero_title }}</h3>
                    <div>
                      <p class='trunc-text'>{{ highlight_open_position.hero_subtitle }}</p>
                      <p class='date'>{{ highlight_open_position.date_published }}</p><a href="{{ highlight_open_position.url }}" class="button is-pulled-right"><i class="fas fa-chevron-right"></i></a>
                    </div>
                  </div>
                </div>
                {% if current_language == 'nl' %}
                  <div class="card-footer is-front"><a href="{{ highlight_open_position.url }}" class="link"><span>(NL) Work with us</span><i class="fas fa-chevron-right"></i></a></div>
                {% elif current_language == 'en' %}
                  <div class="card-footer is-front"><a href="{{ highlight_open_position.url }}" class="link"><span>Work with us</span><i class="fas fa-chevron-right"></i></a></div>
                {% endif %}
              </div>
            </div>
            <div class="column is-8 is-front">
              <div class="card is-stretched">
                <div class="card-image">
                   <iframe style="height: 100%;"
                    src="{{page.video_link}}">
                    </iframe> 
                </div>
                <div class="card-footer is-front"><a class="link"><span>{{page.video_description}}</span><i class="fas fa-chevron-right"></i></a></div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
  {% endwith %}
{% endblock content %}