{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}

    {# Hero #}
    <section class="hero is-inverted is-darkened" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
      <div class="hero-body">
        <div class="container">
          <div>
            {% if page.hero_title %}
              <h1 class="h1 title">{{ page.hero_title }}</h1>
            {% endif %}
            {% if page.hero_subtitle %}
              <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
            {% endif %}
            <a href='#top'><button class="button has-icon is-primary"><i class="fas fa-chevron-down"></i></button></a>
          </div>
        </div>
      </div>
    </section>

    {# Main navigation #}
    {% include "includes/navbar.html" with inverted=page.navbar_inverted transparent=page.navbar_transparent%}
    <a class="anchor" id="introduction"></a>
    <div class="spacer"></div>

    {# Intro #}
    {% if page.intro %}
      <section>
        <article class="container">
          <p class="intro">
            {{ page.intro }}
          </p>
        </article>
      </section>
    {% endif %}

    {# Carousel #}
    {% if page.carousel_items %}
      <section class="section">
        <div class="carousel is-fullheight" data-count="{{page.carousel_items.all|length}}">

          <div class="carousel-inner">
            {% for carousel_item in page.carousel_items.all %}

              {% image carousel_item.image width-1000 as carouselimagedata %}
              <article style="background-image: url({{ carouselimagedata.url }})" class="background-{{carousel_item.scaling}}">

                <div class="container">
                  {% if carousel_item.title %}
                    <header>
                      <h2 class="h2">{{ carousel_item.title }}</h2>
                    </header>
                  {% endif %}

                  {% if carousel_item.title %}
                    <div>
                      <p>{{ carousel_item.caption }}</p>
                    </div>
                  {% endif %}
                  
                  {% if carousel_item.link_page %}
                    <a href="{{ carousel_item.link_page }}" class="button is-next is-secondary">
                      {% if carousel_item.link_title %}
                        {{ carousel_item.link_title }}
                        <i class="fas fa-chevron-right"></i>
                      {% else %}
                        More
                      {% endif %}
                    </a>
                  {% endif %}
                  <div class="spacer"></div>
                  <button class="button has-icon is-primary">
                    <i class="fas fa-chevron-down"></i>
                  </button>
                </div>
              </article>
            {% endfor %}
          </div>

          <div class="button is-secondary button-prev">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div class="button is-secondary button-next">
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </section>
    {% endif %}

    {# Working areas #}
    <section class="section is-fullheight" style="background-image: url({{ mediaPath }}{{ page.services_image }})">
      <div class="container">
        <article class="article">
          <header>
            <h2 class="h2">Our working areas</h2>
          </header>
          <div class="columns has-gap">
            {% for service in services %}
              <div class="column has-text-centered">
                <figure class="image"><img src="{{ mediaPath }}{{ service.image }}"></figure>
                <h3 class="h3">{{service.hero_title}}</h3>
              </div>
            {% endfor %}
          </div>
          <div class="buttons">
            <div class="container"><a href='{{indexService.url}}' class="button is-next is-secondary">View our services</a></div>
            <div class="container">
              <button class="button has-icon is-primary"><i class="fas fa-chevron-down"></i></button>
            </div>
          </div>
        </article>
      </div>
    </section>

  {% endwith %}
{% endblock content %}