{% load wagtailimages_tags %}
{% with mediaPath="/media/" %}
	<section class="section has-carousel">
        <div class="container has-carousel" data-count="{{page.carousel_items.all|length}}">
          <article class="article carousel-inner">
            {% for item in self.image_list.all %}
              <div class="carousel has-text-centered" style="background-image:url({{ mediaPath }}{{ item.image }})">
                <div class="caption-carousel-article">
                  <p class="is-blocked description">{{ item.caption }}</p>
                </div>
              </div>
            {% endfor %}
          </article>
        </div>
      </section>
      <section class="section has-selectors">
        <div class="container flex-centered">
          <div class="buttons">
            {% for item in self.image_list.all %}
              {% if item == self.image_list.0 %}
                <button class="button is-selector is-primary is-carousel"></button>
              {% else %}
                <button class="button is-selector is-secondary is-carousel"></button>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
{% endwith %}