{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load wagtailsettings_tags %}
{% load wagtail_modeltranslation %}

{% get_settings use_default_site=True %}

{% block content %}
  {% include "_modules/hero.html" with page=page halved=True %}
  {% include "_includes/navbar.html" with transparent=True inverted=True %}

  <article>
    <section class="section section-padding" id="articles">
      <div class="container">
        <header>
          <h2 class="h2 mb-3">{% trans 'Latest news' %}</h2>
        </header>
        <div class="filters has-text-centered mt-3">
          <a class="filter-service {% if not news_type %}is-active{% elif news_type and news_type == 'article' %}is-active{% endif %} is-green is-filter"
             href="{{ page.get_full_url }}{% if not news_type == 'article' %}?type=article{% endif %}"
             tabindex="0" role="button" aria-pressed="false">
            {% trans 'Articles' %}
          </a>
          <a class="filter-service {% if not news_type %}is-active{% elif news_type and news_type == 'event' %}is-active{% endif %} is-orange is-filter"
             href="{{ page.get_full_url }}{% if not news_type == 'event' %}?type=event{% endif %}"
             tabindex="0" role="button" aria-pressed="false">
            {% trans 'Events' %}
          </a>
          <a class="filter-service {% if not news_type %}is-active{% elif news_type and news_type == 'open_position' %}is-active{% endif %} is-purple is-filter"
             href="{{ page.get_full_url }}{% if not news_type == 'open_position' %}?type=open_position{% endif %}"
             tabindex="0" role="button" aria-pressed="false">
            {% trans 'Open Positions' %}
          </a>
        </div>
        <div class="columns mt-2 is-multiline">
          <div class="column is-12 has-text-centered" id="nav-prev">
            {% include "_includes/pagination_prev.html" with posts=posts %}
          </div>
          {% include "_includes/index_item_cards.html" with posts=posts %}
          <div class="column is-12 has-text-centered" id="nav-next">
            {% include "_includes/pagination_next.html" with posts=posts %}
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock content %}

{% block open_graph %}
  {% include '_includes/og_article.html' with page=page settings=settings %}
{% endblock %}

{% block ld_json %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ page.get_site.root_url }}{% slugurl_trans 'homepage' %}",
        "name": "{% trans 'Home' %}"
    }
    }, {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ page.get_site.root_url }}{% slugurl_trans 'about' %}",
        "name": "{% trans 'About' %}"
      }
    }, {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "{{ page.get_site.root_url }}{{ page.url }}",
        "name": "{{ page.title }}"
      }
    }]
  }
</script>
<script type="application/ld+json">
  {% include '_includes/ld_article.html' with page=page settings=settings %}
</script>
{% endblock %}
