{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/original_images/" %}
  
  	{# Top Section/Header #}
    {% include "modules/top_section.html" with page=page carousel=False %}

    {# Main navigation #}
    {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

    <section class="section">
      <article class="container">
        {% if page.description_title %}
          <header class="header">
            <h2 class="h2">{{ page.description_title }}</h2>
          </header>
        {% endif %}
        {% if page.intro %}
          <p class="intro">
            {{ page.intro }}
          </p>
        {% endif %}
        {% if page.description %}
          <p>{{ page.description }}</p>
        {% endif %}
        <div class="grid">
          {% for people in people_list %}
            <a href="{{people.url}}">
              <figure class="image portrait"><img src="{{ mediaPath }}{{ people.person.picture }}">
              </figure>
              <h3 class="h3">{{people.person.user.first_name}} {{people.person.user.last_name}}</h3><span>{{people.person.job_title}}</span>
            </a>
          {% endfor %}
        </div>
      </article>
    </section>


  {% endwith %}
{% endblock content %}