{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load static wagtailuserbar %}


{% load static %}

{% block content %}
	{% with mediaPath="/media/original_images/" %}
	
		{# Top Section/Header #}
    	{% if top_images.all %}
	      {% include "modules/top_section.html" with page=page carousel=True %}
	    {% else %}
	      {% with mediaOldPath="http://media.except.nl/media/" %}
	        {% if compact == False %}
	          <section class="hero is-inverted is-darkened" style="background-image: url({{ mediaOldPath }}{{ page.hero_old_image }})">
	        {% else %}
	          <section class="hero is-inverted is-darkened is-compact" style="background-image: url({{ mediaOldPath }}{{ page.hero_old_image }})">
	        {% endif %}
	          <div class='background-dark-cover'></div>
	          <div class="hero-body">
	            <div class="container">
	              <div>
	              {% if page.hero_title %}
	                  <h1 class="h1 title">{{ page.hero_title }}</h1>
	              {% endif %}
	              {% if page.hero_subtitle %}
	                  <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
	              {% endif %}
	              </div>
	            </div>
	          </div>
	        </section>
	      {% endwith %}
	    {% endif %}

		{# Main navigation #}
		{% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}
		
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-8">
						{% if page.intro %}
							<p class="intro">
								{{page.intro |richtext}}  
							</p>
						{% endif %}
						{% if page.body %}
							{{ page.body }}
						{% endif %}
					</div>
					{% if page.author %}
						{% with author=page.author %}
							<div class="column is-4">
								{% include "modules/author.html" with author=author %}
							</div>
						{% endwith %}
					{% endif %}
				</div>
			</div>
		</section>
		{% include "modules/links.html" with page=page %}
		<script type="text/javascript" src="{% static 'js/carousel_article.js' %}"></script>
	{% endwith %}
{% endblock content %}