{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="{% static 'css/vendor/bulma.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/except_fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/except_wagtail.css' %}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/vendor/fullcalendar/core.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/fullcalendar/daygrid.min.css' %}">
        <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} except">
        <a class="anchor" id="top-scroll"></a>
        {% wagtailuserbar %}

        {# Page contents #}
        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/vendor/velocity.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/fullcalendar/core.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/fullcalendar/interaction.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/fullcalendar/daygrid.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/except_wagtail.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {# Footer #}
        <footer id="footer" class="footer">
            <div class="container">
                <div class="columns">
                    {% for category in footer_categories %}
                        <div class="column">
                            <h2 class="h2">{{category.name}}</h2>
                            <ul>
                                {% for link in category.get_links %}
                                    <li>
                                        {% if link.link_page %}
                                            <a href="{{link.link_page.url}}">{{link.name}}</a>
                                        {% elif link.link %}
                                            <a href="{{link.link}}">{{link.name}}</a>
                                        {% else %}
                                            <div class="popup"><a>{{link.name}}</a><span class="popuptext" id="{{link.name}}">{{link.popup_html}}</span></div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </footer>

        {# Disclaimer #}
        <div class="content has-text-centered"><span class="is-oneliner"><span>2019 © Except Integrated Sustainability B.V. - </span><a href="./privacy">Privacy Policy</a></span></div>
    </body>
</html>
