{% load static wagtailuserbar %}

<section class="section">
  <div class="container">
    <article class="article">
      <header>
        {% if current_language == 'nl' %}
          <h2 class="h2">(NL) Related projects & articles</h2>
        {% elif current_language == 'en' %}
          <h2 class="h2">Related projects & articles</h2>
        {% endif %}
      </header>
      {% if page.linked_projects or page.linked_articles %}
        <div class="columns is-grid">
          {% include "modules/grid_relation_8.html" with elements=page.linked_projects.all is_loadable=False %}
          {% include "modules/grid_relation_8.html" with elements=page.linked_articles.all is_loadable=False %}
        </div>
      {% endif %}
    </article>
  </div>
</section>
<section class="section">
  <div class="container">
    <article class="article">
      <header>
        {% if current_language == 'nl' %}
          <h2 class="h2">(NL) Media & Downloads</h2>
        {% elif current_language == 'en' %}
          <h2 class="h2">Media & Downloads</h2>
        {% endif %}
      </header>
      <div class="columns is-grid">
          {% include "modules/downloadable.html" with downloadables=page.downloads.all %}
      </div>
    </article>
  </div>
</section>
<script type="text/javascript" src="{% static 'js/carousel_article.js' %}"></script>