{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/original_images/" %}

    {# Top Section/Header #}
    {% include "modules/top_section.html" with page=page carousel=False %}

    {# Main navigation #}
    {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            {% if page.intro %}
              <p class="intro">
                {{page.intro}}
              </p>
            {% endif %}
          </div>
      </div>
    </section>
    {% if highlights.all %}
      <section class="section has-carousel">
        <div class="container">
          <article class="article">
            <header>
              {% if current_language == 'nl' %}
                <h2 class="h2">(NL) Project highlights</h2>
              {% elif current_language == 'en' %}
                <h2 class="h2">Project highlights</h2>
              {% endif %}
            </header>
          </article>
        </div>
        <div class="spacer"></div>
        <div class="container has-carousel full-width" data-count="{{page.carousel_items.all|length}}">
          <article class="article carousel-inner">
            {% for item in highlights.all %}
              <div class="carousel has-text-centered" style="background-image:url({{ mediaPath }}{{ item.top_images.all.0.image }})">
                <div class="container not-full-height">
                  <h2 class="h2 is-blocked">{{ item.hero_title }}</h2>
                  <h3 class="h3 is-blocked description">{{ item.hero_subtitle }}</h3>
                  {% if current_language == 'nl' %}
                    <div class="buttons is-blocked"><a href="{{item.url}}" class="button is-next is-secondary">(NL) View project</a></div>
                  {% elif current_language == 'en' %}
                    <div class="buttons is-blocked"><a href="{{item.url}}" class="button is-next is-secondary">View project</a></div>
                  {% endif %}
                </div>
              </div>       
            {% endfor %}
          </article>
        </div>
      </section>
      <section class="section has-selectors">
        <div class="container flex-centered">
          <div class="buttons">
            {% for item in highlights.all %}
              {% if item == highlights.0 %}
                <button class="button is-selector is-primary is-carousel"></button>
              {% else %}
                <button class="button is-selector is-secondary is-carousel"></button>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}
    <section class="section">
      <div class="container">
        <article class="article">
          <header>
            {% if current_language == 'nl' %}
              <h2 class="h2">(NL) Latest projects</h2>
            {% elif current_language == 'en' %}
              <h2 class="h2">Latest projects</h2>
            {% endif %}
          </header>
          <div class="columns is-grid">
            {% for project in latest_project %}
            <div class="column is-4">
              <div class="card is-stretched">
                <div class="card-image">
                  <a href="{{project.url}}">
                    <figure class="image"><img src="{{ mediaPath }}{{ project.top_images.all.0.image }}"></figure>
                  </a>
                </div>
                <div class="card-content has-label">
                  <a href="{{project.url}}">
                    <h3 class="h3">{{project.hero_title}}</h3>
                    <p>{{project.date_published}}</p>
                    <button class="button is-selector is-{{project.service.color}} is-pulled-left"></button><a class="button is-pulled-right"><i class="fas fa-chevron-right"></i></a>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </article>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <article class="article">
          <header>
            {% if current_language == 'nl' %}
              <h2 class="h2">(NL) Project archives</h2>
            {% elif current_language == 'en' %}
              <h2 class="h2">Project archives</h2>
            {% endif %}
          </header>
          <header class="has-text-centered">
            {% if current_language == 'nl' %}
              <h3 class="h3">(NL) TIMELINE</h3>
            {% elif current_language == 'en' %}
              <h3 class="h3">TIMELINE</h3>
            {% endif %}
          </header>
          <div class="has-text-centered">
            <div class="timeline">
              {% include "modules/timeline.html" with years=years elements=projects %}
            </div>
          </div>
          <div class="spacer is-large"></div>
          <header class="has-text-centered">
            {% if current_language == 'nl' %}
              <h3 class="h3">(NL) FILTER</h3>
            {% elif current_language == 'en' %}
              <h3 class="h3">FILTER</h3>
            {% endif %}
          </header>
          <div class="has-text-centered">
            {% csrf_token %}
            {% for service in services %}
              <label class="button is-filter is-{{service.color}} is-active">
                <input type="checkbox"><span>{{service.hero_title}}</span>
              </label>
            {% endfor %}
          </div>
          <div class="spacer is-large"></div>
          <div id="projects" class="columns is-grid grid-loading">
            {% include "modules/grid_8.html" with elements=current_projects is_loadable=True %}
          </div>
          <div class='button-load-container'>
            {% include "modules/button_load.html" with not_last=not_last %}
          </div>
        </article>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'js/carousel_article.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/loading_more.js' %}"></script>
  {% endwith %}
{% endblock content %}