{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}
{% block content %}
  {% with mediaPath="/media/" %}
      <section class="hero is-inverted is-darkened is-compact" style="background-image: url({{ mediaPath }}{{ parent_page.hero_image }})">
        <div class="hero-body">
          <div class="container">
            <div>
              {% if page.image %}
                <div id="expertises" class="columns is-grid">
                  <div class="column is-2">
                    <figure class="image"><img src="{{ mediaPath }}{{ page.image }}"></figure>
                  </div>
                </div>
                <div class="spacer"></div>
              {% endif %}
              {% if page.hero_title %}
                <h1 class="h1 title">{{ page.hero_title }}</h1>
              {% endif %}
              {% if page.hero_subtitle %}
                <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      {# Main navigation #}
      {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-8">
              {% if page.introduction %}
                <p class="intro">
                  {{page.introduction}}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </section>

      {% if subservices %}
        {% for service in subservices %}
        <section class="section">
          <div class="container">
            <article class="article">
              <header>
                <h2 class="h2">{{service.hero_title}}</h2>
              </header>
            </article>
            <div class="column is-8">
              {% if service.description %}
                <p class="intro">
                  {{service.description}}
                </p>
              {% endif %}
              {% if service.body %}
                {{ service.body }}
              {% endif %}
            </div>
          </div>
        </section>
        {% endfor %}
      {% endif %}

      {% if projects %}
        <section class="section">
          <div class="container">
            <article class="article">
              <header>
                <h2 class="h2">Related projects</h2>
              </header>
              <div id="latestNews" class="columns is-grid">
                {% include "news/latest_news.html" with current_news=projects type='except' %}
              </div>
            </article>
          </div>
        </section>
      {% endif %}
      {% if news %}
        <section class="section">
          <div class="container">
            <article class="article">
              <header>
                <h2 class="h2">Related news</h2>
              </header>
              <div id="latestNews" class="columns is-grid">
                {% include "news/latest_news.html" with current_news=news type='except' %}
              </div>
            </article>
          </div>
        </section>
      {% endif %}
      {% if resources %}
        <section class="section">
          <div class="container">
            <article class="article">
              <header>
                <h2 class="h2">Related knowledge</h2>
              </header>
              <div id="latestNews" class="columns is-grid">
                {% include "news/latest_news.html" with current_news=resources type='except' %}
              </div>
            </article>
          </div>
        </section>
      {% endif %}
  {% endwith %}
{% endblock content %}