{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}
{% block content %}
  {% with mediaPath="/media/" %}
      <section class="hero is-inverted is-darkened is-compact" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
        <div class="hero-body">
          <div class="container">
            <div>
              {% if page.hero_title %}
                <h1 class="h1 title">{{ page.hero_title }}</h1>
              {% endif %}
              {% if page.hero_subtitle %}
                <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </section>

      {# Main navigation #}
      {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}
  {% endwith %}
{% endblock content %}