{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}
    <section class="hero is-inverted is-darkened is-compact" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
      <div class="hero-body">
        <div class="container">
          <div>
            {% if page.hero_title %}
              <h1 class="h1 title">{{ page.hero_title }}</h1>
            {% endif %}
            {% if page.hero_subtitle %}
              <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    {# Main navigation #}
    {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

    <div class="spacer"></div>
    <section class="section">
      <div class="container">
        <article class="article">
          <header class="header">
            <h2 class="h2">Our working areas</h2>
          </header>
          <div class="columns has-gap">
            {% for service in service_list %}
              <div class="column has-text-centered">
                <a id="{{service.id}}" class="service">
                  <figure class="image"><img src="{{ mediaPath }}{{ service.image }}"></figure>
                  <h3 class="h3">{{service.hero_title}}</h3>
                </a>
              </div>
            {% endfor %}
          </div>
        </article>
        <article class="article">
          {% for service in service_list %}
            {% include "services/render_subservice.html" with subservices=service.get_subservices %}
          {% endfor %}
        </article>
      </div>
    </section>
    <section class="section is-fullheight" style="background-image: url({{ mediaPath }}{{ page.expertise_background }})">
      <div class="container">
        <article class="article">
          <header class="header">
            <h2 class="h2 is-inverted">Our services</h2>
          </header>
          <div id="expertises" class="columns is-grid">
            {% for expertise in page.expertises.all %}
              <div class="column is-3">
                <div class="card is-stretched">
                  <div class="card-image">
                    <figure class="image"><img src="{{ mediaPath }}{{ expertise.image }}"></figure>
                  </div>
                  <div class="card-content has-label">
                    <h3 class="h3">{{expertise.title}}</h3>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="buttons">
            <div class="container"><a href='' class="button is-next is-secondary"></a></div>
            <div class="container">
            <button class="button has-icon is-primary"><i class="fas fa-chevron-down"></i></button>
          </div>
        </article>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'js/services.js' %}"></script>
  {% endwith %}
{% endblock content %}