{% load menu_tags %}
{% load static wagtailuserbar %}

<input type="checkbox" id="main-menu-toggle" class="is-hidden" />
<nav class="navbar navbar-menu is-sticky" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-menu">
      <!-- Left menu-->
      <div class="navbar-start">
        <!-- Navigation items-->
        {% for item in menu_items %}
        	{% if item.has_children_in_menu %}
        		<div class="navbar-item main-menu">
        			<input class="for-dropdown is-hidden" type="checkbox" id="{{item.text}}"/>
        			<a><label for="{{item.text}}"><a href="{{item.href}}" class="navbar-dropdown-selection">{{item.text}}</a><i class="fas fa-chevron-up"></i></label></a>
              <div class="dropdown sub-menu">
                <ul>
                  {% if current_language == 'nl' %}
                    <li><a href="{{item.href}}"><span>(NL) {{item.text}}</span><i class="fas fa-chevron-right"></i></a></li>
                  {% elif current_language == 'en' %}
                    <li><a href="{{item.href}}"><span>{{item.text}}</span><i class="fas fa-chevron-right"></i></a></li>
                  {% endif %}
                  {% sub_menu template=sub_menu_template menuitem_or_page=item %}
                </ul>
              </div>
        		</div>
        	{% else %}
        		<a class="navbar-item" href="{{item.href}}"><span>{{item.text}}</span></a>
        	{% endif %}
        {% endfor %}
        <div class="is-hidden-desktop">
          <div class="spacer is-large"></div>
          <ul>
            <div class="navbar-item main-menu">
              {% if LANGUAGE_CODE == 'nl' %}
                <li><a class="lang-selection"><span>ENGLISH</span></i></a></li>
              {% elif LANGUAGE_CODE == 'en' %}
                <li><a class="lang-selection"><span>NETHERLANDS</span></i></a></li>
              {% endif %}
            </div>
            <div class="navbar-item main-menu">
              {% if LANGUAGE_CODE == 'nl' %}
                <li><a>(NL) CONTACT</a></li>
              {% elif LANGUAGE_CODE == 'en' %}
                <li><a>CONTACT</a></li>
              {% endif %}
            </div>
        </div>
      </div>
      <div class="navbar-end">
        <!-- Search bar-->
        <div class="navbar-item navbar-search">
          <form action="/search/" method="get">
            {% if current_language == 'nl' %}
              <input class="input" name="query" placeholder="(NL) Search site"/>
            {% elif current_language == 'en' %}
              <input class="input" name="query" placeholder="Search site"/>
            {% endif %}
            <i class="fas fa-search"></i>
          </form>          
          <label for="main-menu-toggle" class="main-menu-close is-hidden-desktop">
            <i class="fas fa-times"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
</nav>