{% with mediaPath="/media/" %}
  {% for news in current_news %}
    <div class="column is-4 is-loadable">
      <div class="card is-stretched">
        <div class="card-image">
          {% if news.url_article %}
            <a href="{{news.url_article}}">
          {% else %}
            <a href="{{news.url}}">
          {% endif %}
            <figure class="image"><img src="{{ mediaPath }}{{ news.hero_image }}">
              {% if news.type_of_news == 'EV' %}
                <h4 class="h4 label is-red">Event</h4>
              {% elif news.type_of_news == 'OP' %}
                <h4 class="h4 label is-green">People</h4>
              {% endif %}
            </figure>
          </a>
        </div>
        <div class="card-content has-label">
          {% if news.url_article %}
            <a href="{{news.url_article}}">
          {% else %}
            <a href="{{news.url}}">
          {% endif %}
            {% if news.is_long_intro %}
              <h3 class="h3">{{news.short_intro}}...</h3>
            {% else %}
              <h3 class="h3">{{news.hero_title}}</h3>
            {% endif %}
            <p class='trunc-text'>{{news.hero_subtitle}}</p>
            <p>{{news.date_published}}</p>
            <a class="button is-pulled-right"><i class="fas fa-chevron-right"></i></a>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endwith %}