{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}

    <section class="hero is-inverted is-darkened is-compact" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
      <div class="hero-body">
        <div class="container">
          <div>
            {% if page.hero_title %}
              <h1 class="h1 title">{{ page.hero_title }}</h1>
            {% endif %}
            {% if page.hero_subtitle %}
              <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    {# Main navigation #}
    {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

    <section class="section">
      <div class="container">
        <article class="article">
          <header class="has-text-centered">
            <h3 class="h3">TIMELINE</h3>
          </header>
          <div class="has-text-centered">
            <div class="timeline">
              {% include "news/timeline.html" with years=years news=news %}
            </div>
          </div>
          <div class="spacer"></div>
          <header class="has-text-centered">
            <h3 class="h3">FILTER</h3>
          </header>
          <div class="has-text-centered">
            {% csrf_token %}
            {% for service in services %}
              <label class="button is-filter is-{{service.color}} is-active">
                <input type="checkbox"><span>{{service.title}}</span>
              </label>
            {% endfor %}
          </div>
          <div class="spacer is-large"></div>
          <header>
            <h2 class="h2">Latest news</h2>
          </header>
          <div id="latestNews" class="columns is-grid">
            {% include "news/latest_news.html" with current_news=current_news type='except' %}
          </div>
          {% if current_news.paginator.count > 1 %}
            <div class="container">
                <div class="row">
                    <div id="paginationExcept" class="col-md-12">
                    {% include "includes/pagination.html" with subpages=current_news %}
                    </div>
                </div>
            </div>
          {% endif %}
        </article>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <article class="article">
          <header>
            <h2 class="h2">Except in the news</h2>
          </header>
          <div id="lastestArticle" class="columns is-grid">
            {% include "news/latest_news.html" with current_news=current_articles type='newspaper' %}
          </div>
          {% if current_articles.paginator.count > 1 %}
            <div class="container">
                <div class="row">
                    <div id="paginationNewspaper" class="col-md-12">
                    {% include "includes/pagination.html" with subpages=current_articles %}
                    </div>
                </div>
            </div>
          {% endif %}
        </article>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'js/news.js' %}"></script>
  {% endwith %}
{% endblock content %}