{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}

    <section class="hero is-inverted is-darkened is-compact" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
      <div class="hero-body">
        <div class="container">
          <div>
            {% if page.hero_title %}
              <h1 class="h1 title">{{ page.hero_title }}</h1>
            {% endif %}
            {% if page.hero_subtitle %}
              <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    {# Main navigation #}
    {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

    <section class="section">
      <div class="container">
        <article class="article">
          <div class="spacer is-large"></div>
          <header>
            <h2 class="h2">Latest news</h2>
          </header>
          <div id="news" class="columns is-grid">
            {% include "news/latest_news.html" with current_news=current_news %}
          </div>
          <div class='button-load-container'>
            {% include "news/button_load.html" with not_last=not_last %}
          </div>
        </article>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'js/loading_more.js' %}"></script>
  {% endwith %}
{% endblock content %}