{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load static wagtailuserbar %}


{% load static %}

{% block content %}
	{% with mediaPath="/media/" %}
	
		{# Top Section/Header #}
    	{% include "modules/top_section.html" with page=page carousel=True %}

		{# Main navigation #}
		{% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}
		
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-8">
						{% if page.intro %}
							<p class="intro">
								{{page.intro}}  
							</p>
						{% endif %}
						{% if page.body %}
							{{ page.body }}
						{% endif %}
					</div>
					{% if page.author %}
						{% with author=page.author %}
							<div class="column is-4">
								{% include "modules/author.html" with author=author %}
							</div>
						{% endwith %}
					{% endif %}
				</div>
			</div>
		</section>
		{% include "modules/links.html" with page=page %}
		<script type="text/javascript" src="{% static 'js/carousel_article.js' %}"></script>
	{% endwith %}
{% endblock content %}