{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
	{% with mediaPath="/media/" %}
	
		<section class="hero is-inverted is-darkened is-compact">
			<div class="hero-body">
				<div class="container">
					<div>
						{% if page.hero_title %}
							<h1 class="h1 title">{{ page.hero_title }}</h1>
						{% endif %}
						{% if page.hero_subtitle %}
							<h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
						{% endif %}
						{% if page.date_published %}
							<span class="date">{{page.date_published}}</span>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="carousel top-section cover" data-count="{{page.top_images.all|length}}">

		        <div class="carousel-inner">
		          {% for carousel_image in page.top_images.all %}

		            {% image carousel_image.image width-1000 as carouselimagedata %}
		            <article style="background-image: url({{ carouselimagedata.url }})" class="background-fill">
		            </article>
		          {% endfor %}
		        </div>
		      </div>
		    </section>
		</section>

		{# Main navigation #}
		{% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}
		
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-8">
						{% if page.intro %}
							<p class="intro">
								{{page.intro}}  
							</p>
						{% endif %}
						{% if page.body %}
							{{ page.body }}
						{% endif %}
					</div>
					{% if page.author %}
						{% with author=page.author %}
							<div class="column is-4">
								<figure class="image"><img class="is-200x200" src="{{ mediaPath }}{{ author.picture }}">
									<figcaption class="caption">by {{author.user.first_name}} {{author.user.last_name}}</figcaption>
									<figcaption class="caption"><i class="fas fa-envelope"></i><span>{{author.user.email}}</span></figcaption>
									<figcaption class="caption"><i class="fas fa-phone"></i><span>{{author.phone}}</span></figcaption>
								</figure>
							</div>
						{% endwith %}
					{% endif %}
				</div>
			</div>
		</section>
		<section class="section">
	      <div class="container">
	        <article class="article">
	          <header>
	            <h2 class="h2">Related projects & articles</h2>
	          </header>
	          {% if page.linked_projects or page.linked_articles %}
	            <div class="columns is-grid">
	              {% for project in page.linked_projects.all %}
	                <div class="column is-3 is-loadable">
	                  <a href="{{project.element.url}}">
	                    <div class="card is-stretched">
	                      <div class="card-image">
	                        <figure class="image"><img src="{{ mediaPath }}{{ project.element.hero_image }}"></figure>
	                      </div>
	                      <div class="card-content has-label">
	                        <h4 class="h4">{{project.element.hero_title}}</h4>
	                        <p class='trunc-text'>{{project.element.hero_subtitle}}</p>
	                        <a class="button is-pulled-right" href={{project.element.url}}><i class="fas fa-chevron-right"></i></a>
	                      </div>
	                    </div>
	                  </a>
	                </div>
	              {% endfor %}
	              {% for article in page.linked_articles.all %}
	                <div class="column is-3 is-loadable">
	                  <a href="{{article.element.url}}">
	                    <div class="card is-stretched">
	                      <div class="card-image">
	                        <figure class="image"><img src="{{ mediaPath }}{{ article.element.hero_image }}"></figure>
	                      </div>
	                      <div class="card-content has-label">
	                        <h4 class="h4">{{article.element.hero_title}}</h4>
	                        <p class='trunc-text'>{{article.element.hero_subtitle}}</p>
	                        <a class="button is-pulled-right" href={{article.element.url}}><i class="fas fa-chevron-right"></i></a>
	                      </div>
	                    </div>
	                  </a>
	                </div>
	              {% endfor %}
	            </div>
	          {% endif %}
	        </article>
	      </div>
	    </section>
	    <section class="section">
	      <div class="container">
	        <article class="article">
	          <header>
	            <h2 class="h2">Media & Downloads</h2>
	          </header>
	          <div class="columns is-grid">
	            {% for download in page.downloads.all %}
	                <div class="column is-3 is-loadable">
	                  <a href="{{download.file.url}}">
	                    <div class="card is-stretched">
	                      <div class="card-image">
	                        <figure class="image"><img src="{{ mediaPath }}{{ download.thumbnail }}"></figure>
	                      </div>
	                      <div class="card-content has-label">
	                        <h4 class="h4">{{download.name}}</h4>
	                        <a class="button is-pulled-right" href={{download.file.url}}><i class="fas fa-chevron-right"></i></a>
	                      </div>
	                    </div>
	                  </a>
	                </div>
	              {% endfor %}
	          </div>
	        </article>
	      </div>
	    </section>
		<script type="text/javascript" src="{% static 'js/carousel_article.js' %}"></script>
	{% endwith %}
{% endblock content %}