{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}

    <section class="hero is-inverted is-darkened is-compact" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
      <div class="hero-body">
        <div class="container">
          <div>
            {% if page.hero_title %}
              <h1 class="h1 title">{{ page.hero_title }}</h1>
            {% endif %}
            {% if page.hero_subtitle %}
              <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    {# Main navigation #}
    {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

    <section class="section">
      <div class="container">
        <article class="article">
          <div class="columns">
            <div class="column is-8">
              <p class="intro">
                {{page.intro}}
              </p>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section class="section has-title">
      <div class="container">
        <h2 class="h2">Knowledge highlights</h2>
      </div>
    </section>
    {# Carousel #}
    {% if page.carousel_items %}
      <section class="section has-carousel">
        <div class="container has-carousel" data-count="{{page.carousel_items.all|length}}">
          <article class="article carousel-inner">
            {% for item in page.carousel_items.all %}
              <div class="carousel has-text-centered" style="background-image:url({{ mediaPath }}{{ item.resource.image }})">
                <div class="caption-carousel-article">
                  <h2 class="h2 is-blocked">{{ item.resource.title }}</h2>
                  <div class="buttons"><a href="{{item.resource.file.url}}" class="button is-next is-secondary">See more</a></div>
                </div>
              </div>       
            {% endfor %}
          </article>
        </div>
      </section>
      <section class="section has-selectors">
        <div class="container flex-centered">
          <div class="buttons">
            {% for item in page.carousel_items.all %}
              {% if item == page.carousel_items.all.0 %}
                <button class="button is-selector is-primary is-carousel"></button>
              {% else %}
                <button class="button is-selector is-secondary is-carousel"></button>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}
    <section class="section">
      <div class="container">
        <article class="article">
          <header class="header">
            <h2 class="h2">Knowledge database</h2>
          </header>
          <div class="spacer"></div>
          <header class="has-text-centered">
            <h3 class="h3">FILTER</h3>
          </header>
          <div class="has-text-centered">
            {% csrf_token %}
            {% for service in services %}
              <label class="button is-filter is-{{service.color}} is-active">
                <input type="checkbox"><span>{{service.title}}</span>
              </label>
            {% endfor %}
          </div>
          <div class="spacer"></div>
          <div id="resourceList" class="columns is-grid">
            {% include "knowledge/resource_list.html" with resources=resources %}
          </div>
          {% if resources.paginator.count > 1 %}
            <div class="container">
                <div class="row">
                    <div id="pagination" class="col-md-12">
                    {% include "includes/pagination.html" with subpages=resources %}
                    </div>
                </div>
            </div>
          {% endif %}
        </article>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'js/knowledge.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/carousel_article.js' %}"></script>
  {% endwith %}
{% endblock content %}