{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}

    <section class="hero is-inverted is-darkened is-compact" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
      <div class="hero-body">
        <div class="container">
          <div>
            {% if page.hero_title %}
              <h1 class="h1 title">{{ page.hero_title }}</h1>
            {% endif %}
            {% if page.hero_subtitle %}
              <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    {# Main navigation #}
    {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

    <section class="section">
      <div class="container">
        <article class="article">
          <div class="columns">
            <div class="column is-8">
              <p class="intro">
                {{page.intro}}
              </p>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section class="section has-title">
      <div class="container">
        <h2 class="h2">Knowledge highlights</h2>
      </div>
    </section>
    {# Carousel #}
    {% if highlights %}
      <section class="section has-carousel">
        <div class="container has-carousel full-width" data-count="{{page.carousel_items.all|length}}">
          <article class="article carousel-inner">
            {% for item in highlights %}
              <div class="carousel has-text-centered" style="background-image:url({{ mediaPath }}{{ item.top_images.all.0.image }})">
                <div class="container not-full-height">
                  <h2 class="h2 is-blocked">{{ item.hero_title }}</h2>
                  <h3 class="h3 is-blocked description">{{ item.hero_subtitle }}</h3>
                  <div class="buttons is-blocked"><a href="{{item.url}}" class="button is-next is-secondary">See more</a></div>
                </div>
              </div>       
            {% endfor %}
          </article>
        </div>
      </section>
      <section class="section has-selectors">
        <div class="container flex-centered">
          <div class="buttons">
            {% for item in highlights %}
              {% if item == highlights.0 %}
                <button class="button is-selector is-primary is-carousel"></button>
              {% else %}
                <button class="button is-selector is-secondary is-carousel"></button>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}
    <section class="section">
      <div class="container">
        <article class="article">
          <header>
            <h2 class="h2">Latest articles</h2>
          </header>
          <div class="columns is-grid">
            {% include "news/latest_news.html" with current_news=latest_resources %}
          </div>
        </article>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <article class="article">
          <header>
            <h2 class="h2">Knowledge database</h2>
          </header>
          <div class="spacer is-large"></div>
          <header class="has-text-centered">
            <h3 class="h3">FILTER</h3>
          </header>
          <div class="has-text-centered">
            {% csrf_token %}
            {% for service in services %}
              <label class="button is-filter is-{{service.color}} is-active">
                <input type="checkbox"><span>{{service.title}}</span>
              </label>
            {% endfor %}
          </div>
          <div class="spacer is-large"></div>
          <div id="articles" class="columns is-grid grid-loading">
            {% include "projects/projects_list.html" with projects=resources %}
          </div>
          <div class='button-load-container'>
            {% include "modules/button_load.html" with not_last=not_last %}
          </div>
        </article>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'js/knowledge.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/carousel_article.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/loading_more.js' %}"></script>
  {% endwith %}
{% endblock content %}