{% with mediaPath="/media/" %}
  {% for resource in resources %}
  <a href="{{resource.file.url}}">
    <div class="column is-3">
      <div class="card is-stretched">
        <div class="card-image">
          <figure class="image"><img src="{{ mediaPath }}{{ resource.image }}"></figure>
        </div>
        <div class="card-content has-label">
          <h3 class="h3">{{resource.title}}</h3>
          <p>{{resource.date_published}}</p>
          <button class="button is-selector is-{{resource.category.color}} is-pulled-left"></button><a href="{{resource.file.url}}" class="button is-pulled-right"><i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
{% endwith %}