{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load static wagtailuserbar %}


{% load static %}

{% block content %}
	{% with mediaPath="/media/original_images/" %}
		
		{# Top Section/Header #}
		{% include "modules/top_section.html" with page=page carousel=False %}

		{# Main navigation #}
		{% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

		{# Team & company presentation #}

		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-8">
						{% if page.body %}
			              {{ page.body }}
			            {% endif %}
					</div>
				</div>
			</div>
		</section>	
	{% endwith %}
{% endblock content %}