{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}
{% load static wagtailuserbar %}


{% load static %}

{% block content %}
  {% with mediaPath="/media/original_images/" %}
  
  	{# Top Section/Header #}
    {% include "modules/top_section.html" with page=page carousel=False %}

    {# Main navigation #}
    {% include "includes/navbar.html" with transparent=page.navbar_transparent inverted=page.navbar_inverted %}

    <section class="section">
      <div class="container">
        <div class="columns work-section">
          <div class="column is-8">
            <header>
              {% if current_language == 'nl' %}
                <h2 class="h2">(NL) Work with us</h2>
              {% elif current_language == 'en' %}
                <h2 class="h2">Work with us</h2>
              {% endif %}
            </header>
            {% if page.intro %}
              <p class="intro">
                {{page.intro}}  
              </p>
            {% endif %}
            {% if page.body %}
              {{ page.body }}
            {% endif %}
          </div>
          <div class="column is-4">
            <header>
              {% if current_language == 'nl' %}
                <h2 class="h2">(NL) Open positions</h2>
              {% elif current_language == 'en' %}
                <h2 class="h2">Open positions</h2>
              {% endif %}
            </header>
            <div class="spacer"></div>
            {% if open_positions %}
              <div id="news" class="columns is-grid">
              {% for news in open_positions.all %}
                <div class="column is-12">
                  <div class="card is-stretched">
                    <a href="{{news.url}}">
                      <div class="card-content has-label open-pos">
                        <h3 class="h3">{{news.hero_title}}</h3>
                        <p class='trunc-text'>{{news.hero_subtitle}}</p>
                        <p>{{news.date_published}}</p>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% endif %}
            <div class="spacer"></div>
          </div>
          
        </div>
      </div>
    </section>

  {% endwith %}
{% endblock content %}