.carousel {
  position: relative;
  
  &.is-fullheight {
    height: calc(100vh - 250px);
  }

  .carousel-inner {
    width: 100vw;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    article {
      flex: none;
      width: 100vw;
      background-position: center center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 3em;
      scroll-snap-align: center;

      &.background-fill {
        background-position: top center;
        background-size: cover;
      }

      &.background-fit {
        background-size: contain;
      }

      
      header, p {
        display: inline-block;
        background: rgba($color-text-invert, .8);
        padding: .5em .75em;
      }

      p {
        max-width: 500px;
      }

      header h2:before {
        display: none; //border-color: white;
      }

      header + div > p {
        padding-top: 0;
      }
    }
  }

  .button-prev,
  .button-next {
    position: absolute;
    height: 5rem;
    top: 50%;
    transform: translate(0, -50%);
    width: 1.6em;
    overflow: hidden;
  }

  .button-next {
    right: 0;
  }
}

@media only screen and (max-width: 1087px) {
  .carousel {
    .container {
      margin-left: 0;
    }
  }
}