.button {
  background-image: linear-gradient($except-purple, $except-purple);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 100%;
  border-radius: 0;
  box-shadow: none;
  color: $dark-gray;
  padding: 0 2rem;
  text-decoration: none;
  transition: background-size .3s, color .3s, box-shadow .3s;

  &:hover,
  &:focus,
  &:active {
    background-size: 100% 100%;
    box-shadow: $shadow;
    color: #FFF;
  }
  &.button-fixed-size {
    min-width: 12rem;
  }
  &.giant-cta {
    background-size: 100% 100%;
    color: #FFF;
    font-weight: bold;
    padding: 25px 55px;
  }
  &.pagination-link-button {
    i {
      display: none;
    }
  }
}
