html,
body {
  color: #111;
  font-family: "Aller";
  font-kerning: normal;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.25rem;
  scroll-behavior: smooth;
}
ol > li:not(:last-child),
ul > li:not(:last-child) {
  margin-bottom: .5rem;
}

.bg-purple {
  background-color: $except-purple;
  & h2:before,
  & h3:before,
  & h4:before,
  & h5:before,
  & h6:before {
    border-color: #FFF !important;
  }
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & a {
    color: #FFF !important;
  }
  & a.button {
    color: $dark-gray !important;
    &:hover {
      color: #FFF !important;
    }
  }
}
figure {
  &.image-rounded > a > img {
    background-size: cover;
    border-radius: 50%;
  }
}
.is-flex-centered-height {
  align-items: center;
  display: flex;
}
.is-flex-centered-both {
  align-items: center;
  display: flex;
  justify-content: center;
}
.pagination,
.pagination-list {
  align-items: unset;
}
.pagination-link.is-current {
  background-color: $except-purple;
  border-color: $except-purple;
}
.pagination-previous:focus,
.pagination-next:focus,
.pagination-link:focus {
  border-color: $except-purple;
}
a.cc-link,
a.cc-btn {
  box-shadow: none;

  &:hover,
  &:focus {
    background-size: 0 2px;
  }
}
// Mobile (base) version:
.container {
  padding-left: 2rem;
  padding-right: 2rem;
}
.hero-bcorp {
  background-color: #FFF;
  height: 10rem;
  padding: .75rem;
}
.knowledge.bg-purple {
  margin-top: 7rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  .negative-margin {
    margin: 0 -2rem;
  }
}

.knowledge-border-top {
  padding: 2rem;

  & > div > img {
    border-top: 1px solid #FFF;
    padding-top: 3rem;
  }
  & > div.no-border > img {
    border-top: unset;
    margin-top: -3rem;
  }
}
.top-pad {
  padding: 5rem 0;
}
.about-partner {
  align-items: center;
  border: 1px solid #E5E6E7;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 250px;
  img {
    // max-height: 200px;
    // max-width: 250px;
  }
}
@media screen and (min-width: $desktop) {
  .section .with-pad,
  .section .with-pad {
    padding-right: 5rem;
  }
  .with-left-pad {
    padding-left: 5rem;
  }
}
@media screen and (max-width: $tablet) {
  .mobile-block {
    display: block;
  }
}
