.project-subtitle {
  margin-top: 1rem;
}
.project-header-image {
  background-size: cover;
  height: 300px;
}
.project-contact {
  align-items: flex-end;
  background-color: #6B2A7E;
  color: #FFF !important;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-end;
  padding: 2rem;
}
.project-contact h4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.contact-name {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: .75rem;
}
.contact-job {
  font-size: 1rem;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 1rem;
}
.has-right-underline:after {
  border-bottom: solid 2px #FFF;
  bottom: -12px;
  content: "";
  position: absolute;
  right: 0;
  width: 180px;
}
.project-contact .caption a {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #6B2A7E !important;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 6px 9px;
}
h4.project-info {
  color: #6B2A7E;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
h4.project-info:after {
  border-bottom: solid 2px #6B2A7E;
  bottom: -12px;
  content: "";
  position: absolute;
  right: 0;
  width: 180px;
}
.is-250x250 {
  max-height: 250px;
  max-width: 250px;
}
.project-image {
  height: 300px;
  & > img {
    height: inherit;
    object-fit: cover;
  }
}
.project-partner {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.team-member {
  color: #6B2A7E;
  font-size: 1.25rem;
}
.former-member {
  color: #999;
  font-size: 1rem;
}
.project-short-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}
