.intro-section {
  padding: 5rem 0;
}
.middle-section {
  padding: 5rem 0;
  &-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}
.working-areas {
  .headings {
    font-size: 1.4rem;
  }
  margin-bottom: 7rem;
} 
